GHL_API_KEY=pit-88ed5c87-1cdc-4eef-a7e0-42e6aaa7b855
GHL_LOCATION_ID=T2jYdY6yKrpGB5DjiWqp
GOOGLE_PLACES_API_KEY=YOUR_GOOGLE_PLACES_API_KEY
TWILIO_ACCOUNT_SID=YOUR_TWILIO_SID
TWILIO_AUTH_TOKEN=YOUR_TWILIO_AUTH_TOKEN
TWILIO_PHONE=+19033005683
PORT=3000
